<section class="max-w-screen-xl mx-auto px-4">
  <div class="mx-auto">
    <h1 class="sm:text-4xl text-3xl my-5 border-l-5 border-l-main-color pl-2 uppercase">Shop Popular Categories</h1>
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          @for (category of dataOfCategories; track category._id){
            <ng-template carouselSlide id="category._id">
              <img [src]="category.image" class="h-50  object-top" [alt]="category.name" [title]="category.name">
            </ng-template>
          }
        </ng-container>
      </owl-carousel-o>
  </div>
</section>
