<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="Images/Side-Bar/img.png" alt="side Bar Image" class="object-cover xl:h-86 lg:h-56">
  </ng-template>
  <ng-template carouselSlide>
    <img src="Images/Side-Bar/img_1.png" alt="side Bar Image" class="object-cover xl:h-86 lg:h-56">
  </ng-template>
  <ng-template carouselSlide>
    <img src="Images/Side-Bar/img_2.png" alt="side Bar Image" class="object-cover xl:h-86 lg:h-56">
  </ng-template>
</owl-carousel-o>

