<section class="pt-16">
    <div class="max-w-screen-xl px-5 py-10 sm:max-w-2xl mx-auto sm:p-10">
      <div class="mx-auto">
        <h1 class="text-3xl mb-8 border-l-4 border-l-main-color pl-2.5 bg-green-50 py-2.5">Payment Details</h1>
        <form [formGroup]="checkOutForm" (ngSubmit)="submitForm()" class="shadow shadow-main-color/30 p-10 rounded-2xl hover:shadow-main-color/50 hover:border-main-color hover:border-[0.1px]">

          <div class="mb-5">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your address</label>
            <input formControlName="city" type="text" id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color focus-visible:outline-0" placeholder="Enter your Address" required />
            <app-validation-messages [controls]="checkOutForm.get('city')"></app-validation-messages>
          </div>

          <div class="mb-5 relative">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your phone</label>
            <input formControlName="phone" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color focus-visible:outline-0" placeholder="Enter your phone" required />
            <app-validation-messages [controls]="checkOutForm.get('phone')"></app-validation-messages>
          </div>

          <div class="mb-5 relative">
            <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your details</label>
            <textarea formControlName="details" type="text" id="details" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-color dark:focus:border-main-color focus-visible:outline-0" placeholder="Enter your details" required></textarea>
            <app-validation-messages [controls]="checkOutForm.get('details')"></app-validation-messages>
          </div>

          <div class="mt-5">
            <button [disabled]="checkOutForm.invalid || isLoading == true" [ngClass]="{'bg-gray-200': checkOutForm.invalid, 'cursor-not-allowed': checkOutForm.invalid}" class=" btn-signup-signin">
              @if (isLoading) {
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                </svg>
                Loading...
              } @else {
                Pay
              }
            </button>
          </div>
          @if(successMessage){
            <app-alert [alertMessage]="successMessage" [statusAlert]="'success'"></app-alert>
          }
          @else if (errorMessage){
            <app-alert [alertMessage]="errorMessage" [statusAlert]="'error'"></app-alert>
          }
        </form>
      </div>
    </div>
  </section>
